body {
	font-family: 'PF Din Text Cond Pro';
	font-weight: normal;
	margin: 0;
	color: #000;
	min-width: 360px;
	padding: 0 !important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding: 0 !important;
	transition: all 0.3s;
}

* {
	outline: none !important;
}

a {
	transition: all 0.2s;
}

a:hover,
a:focus {
	text-decoration: none;
}

button {
	background: none;
	border: none;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
		width: 100%;

	}
}

img {
	max-width: 100%;
	height: auto;
	width: initial;
}

ul {
	padding: 0;
	margin: 0;
}


.search {
    position: relative;
   
    text-align: right; }
.search__button {
   
    border: none;
   
    position: relative;
    z-index: 1;
    cursor: pointer; 
	padding: 0;}
.search__button:focus {
    outline: none; }
/* .search__button_open {
    background: url(/images/close-search.svg) no-repeat -1px 9px; } */
.search__full {
    position: absolute;
    right: 38px;
    top: -8px;
    width: 0px;
    overflow: hidden;
    background: white;
    transition: all 0.5s ease;
    opacity: 0;
    white-space: nowrap;
    text-align: right; }
@media (max-width: 1199.98px) {
    .search__full {
        top: 4px; } }
.search__full_open {
    width: 1110px;
    opacity: 1; }
@media (max-width: 1199.98px) {
    .search__full_open {
        width: 680px; } }
@media (max-width: 991.98px) {
    .search__full_open {
        width: 500px; } }
.search__input {
    border: 1px solid #d0d1d1;
    background-color: #fafafa;
    width: calc(100% - 130px);
    min-width: 100px;
    font-size: 16px;
    color: #7b7b7b;
    border-radius: 4px;
    padding: 9px 18px;
    display: inline-block; }
@media (max-width: 1199.98px) {
    .search__input {
        padding: 3px 15px; } }
.search__submit {
    border: none;
    background-color: #c4c4c4;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    padding: 10px 23px;
    margin-left: -10px; }
@media (max-width: 1199.98px) {
    .search__submit {
        padding: 4px 20px; } }
.search__close {
    display: inline-block;
    margin-left: 20px;
    height: 26px;
    vertical-align: middle;
    cursor: pointer; }

.search__button_open #search1 {
	display: none;
}
#search2 {
	display: none;
}
.search__button_open #search2 {
	display: block;
}
.mainmenu ul {
	margin: 0 -15px;
}
.mainmenu ul li  {
	list-style: none;
	float: left;
	margin: 0 15px;
}



#header .row {
	align-items: center;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__content {
	 padding: 13px 20px;
	box-shadow: 0px 3px 9px -1px #7d7d7d;
}

.phone a {
  font-size: 20px;
  color: rgb(34, 34, 33);
  line-height: 1.2;
	font-weight: 500;
}
.mainmenu ul li a {
  font-size: 13px;
  color: rgb(34, 34, 33);
  text-transform: uppercase;
  line-height: 1.2;
 
}

.header__main {
	display: flex;
	align-items: center;
}

.header__phones {
	margin: 0 0 0 50px;
}

.login {
	padding: 0 10px;
	margin: 0 5px;
}

.mainbanner {
	height: 716px;
	background-position: center;
	background-size: initial;
	margin-top: 50px;
	
}

.mainbanner__content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.mainbanner__image {
	margin-top: -160px;
}




input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	background: none;
	border-radius: 0;
	border: 1px solid rgb(154, 154, 154);

	  font-size: 13px;
  color: rgb(154, 154, 154);
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
}

textarea {
	width: 100%;
	padding: 10px 15px;
	resize: none;
}

.check label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 300;
}

.check label a {
	font-weight: 200;
	border-bottom: 1px solid #7bb3cb;
	color: rgb(255, 255, 255);
}

.check label a:hover {
	border-bottom: none;
}

.check input[type=checkbox] {
	display: none;
}

.check label:before {
	background: url(/images/checkbox.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_checked.png) left center no-repeat;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
  font-size: 13px;
  color: rgb(154, 154, 154);

}


::-moz-placeholder {
	/* Firefox 19+ */
	  font-size: 13px;
  color: rgb(154, 154, 154);
}

:-ms-input-placeholder {
	/* IE 10+ */
  font-size: 13px;
  color: rgb(154, 154, 154);
}

:-moz-placeholder {
	/* Firefox 18- */
	  font-size: 13px;
  color: rgb(154, 154, 154);
}

.slick-dots li button {
	background: url(/images/dots.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

.slick-dots li.slick-active button {
	background: url(/images/dots-active.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

.slick-dots li {
	margin: 0;
}


#modal_close_href {
	cursor: pointer;
}

.modal-body {
	padding: 0 30px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 470px;
	}
}

.modal {
	overflow-y: auto;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
}

.modal-content {
	padding: 25px 30px;
	border-radius: 0;
}

.modal__form {
	margin: 20px 0 0 0;
}

.modal {
	text-align: center;
}

.modal-title {
	font-size: 30px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
}

.modal__form input[type="text"],
.modal__form input[type="tel"],
.modal__form input[type="email"],
.modal__form textarea,
.modal__form input {
	background: none;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 100%;
}

.modal__form ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form ::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-moz-placeholder {
	/* Firefox 18- */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form .check label {
	color: #000;
	font-weight: 400;
}

.modal__form .check label a {
	color: #00548e;
	font-weight: 400;
	border-bottom: 1px solid #00548e;
}

.modal__form .check label a:hover {
	border-bottom: none;
}

.modal__form .check label:before {
	background: url(/images/checkbox_black.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.modal__form .check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_black_checked.png) left center no-repeat;
}

.form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.form-group_last {
	margin-bottom: 0;
}

input[type="text"].input-error,
input[type="tel"].input-error,
input[type="email"].input-error,
textarea.input-error,
input[type="text"].input-error {
	color: #cc0000;
	border: 1px solid #cc0000;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
textarea:disabled,
input[type="text"]:disabled,
input:disabled {
	background: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
}

.modal__form input.input-error::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cc0000;
}

.modal__form input.input-error::-moz-placeholder {
	/* Firefox 19+ */
	color: #cc0000;
}

.modal__form input.input-error:-ms-input-placeholder {
	/* IE 10+ */
	color: #cc0000;
}

.modal__form input.input-error:-moz-placeholder {
	/* Firefox 18- */
	color: #cc0000;
}

@media screen and (min-width: 992px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.close {
	position: absolute;
	z-index: 99;
	right: 8px;
	top: 8px;
	float: none;
	font-size: 17px;
	opacity: 1;
}

.closemenu {
	display: none;
}

.menumobile {
	display: none;
}

